.hide-text {
	text-indent: -9999px;
}

.clear {
    clear: both;
    display: block;
  color: black;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.desktop-hidden {
  display: none;
  @include max-screen(1023px) {
    display: inline-block;
  }
}

.mobile-hidden {
  display: block;
  @include max-screen(1023px) {
    display: none;
  }
}

.padding-both {
  padding: 100px 0;

  @include max-screen(768px) {
    padding: 50px 0;
  }
}

.padding-top {
  padding-top: 100px;

  @include max-screen(768px) {
    padding-top: 50px;
  }
}

.padding-bottom {
  padding-bottom: 100px;

  @include max-screen(768px) {
    padding-bottom: 50px;
  }
}
