@import "settings/colors";
@import "settings/fonts";
@import "settings/mixins";
@import "settings/variables";

@import "tools/media-queries";

@import "generic/reset";

@import "fontawesome/fontawesome";
@import "fontawesome/brands";
@import "fontawesome/solid";
@import "fontawesome/light";
@import "fontawesome/v4-shims";
@import "fontawesome/regular";
@import "fontawesome/sharp-solid";
@import "fontawesome/thin";
@import "fontawesome/duotone";

@import "elements/page";
@import "elements/typography";
@import "elements/links";
@import "elements/lists";
@import "elements/images";
@import "elements/buttons";
@import "elements/forms";
@import "elements/skip-content";
@import "elements/helpers";
@import "elements/thumbnail";
@import "elements/browserupgrade";
@import "elements/accordion";

@import "plugins/slick-theme";
@import "plugins/slick";

@import "objects.wrappers";

@import "wp-blocks/wp-block-image";
@import "wp-blocks/wp-block-quote";
@import "wp-blocks/wp-block-columns";

@import "flexible-content-blocks/text-icon-cols";
@import "flexible-content-blocks/text-image-cols";
@import "flexible-content-blocks/general-text-block";
@import "flexible-content-blocks/text-image-block";
@import "flexible-content-blocks/logo-slider";
@import "flexible-content-blocks/tab-container";
@import "flexible-content-blocks/related-content";
@import "flexible-content-blocks/featured-post";
@import "flexible-content-blocks/carousel";
@import "flexible-content-blocks/testimonial-cols";
@import "flexible-content-blocks/team-members";
@import "flexible-content-blocks/statistics-block";
@import "flexible-content-blocks/testimonial";
@import "flexible-content-blocks/list-block";
@import "flexible-content-blocks/stand-out-quote";

@import "components/header";
@import "components/footer";
@import "components/menu";
@import "components/open-button";
@import "components/news-article";
@import "components/hero";
@import "components/social";

@import "trumps.generic";
