.center {
  text-align: center;
}

.padding {
  padding: 100px 0;

  @include max-screen(768px) {
    padding: 50px 0;
  }
}

.padding-top {
  padding-top: 100px;

  @include max-screen(768px) {
    padding-top: 50px;
  }
}

.padding-bottom {
  padding-bottom: 100px;

  @include max-screen(768px) {
    padding-bottom: 50px;
  }
}

.lock-scroll {
  overflow: hidden;
}

address {
  font-style: normal;
}